
.image__height{
    height: 100vh;
}
.image__height>img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    filter: blur(1px);
 -webkit-filter: blur(1px);
}
.carouselCapton{
    margin-bottom: 5%;
}
.h3{
    font-size: 70px;
    font-weight: 600;
}
.playButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: auto;
    margin-bottom: 18%;
    font-weight: 600;
    padding: 10px;
    transition: all .5s ease;
}
.playButton:hover{
    cursor: pointer;
    color: red;
    transition: all .5s ease;
}
.vidDtlsStack{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.cataghory{
    padding: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: red;
    color: white;
}
.watchDtls{
    color: red;
    font-size: 1.2rem;
}
span{
    color: white;
    font-size: .9rem;
}